// app global css
.q-card-container { padding: 8px; }
.selected{background: hsla(0,0%,74%,.5);}
.page-toolbar .q-icon {
    font-size: 1.6em;
    
    &.on-left{
        font-size: inherit;
    }
    
}