<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="X-CSRF-TOKEN" content="@(ViewData["X-CSRF-TOKEN"])" />
        <title>fitlog.fi</title>
        <!--
        <link rel="stylesheet" href="~/dist/vendor.css" />
            -->
    </head>
    <body class="hold-transition skin-blue-light sidebar-mini layout-boxed">
        @RenderBody()
        @*@<script src="~/dist/vendor.js"></script>*@
        @RenderSection("scripts", required: false)
</body>
</html>
